<h1 mat-dialog-title>
  Poles Table Action :: <strong>{{ action }}</strong>
</h1>

<mat-dialog-content>
  <form
    [formGroup]="actionForm"
    (ngSubmit)="onSubmit()"
    fxFlex="100"
    fxLayout="column"
  >
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        matInput
        formControlName="name"
        required
        placeholder="Ex. New Pole"
      />
      <mat-error>name is required</mat-error>
    </mat-form-field>

    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="20px"
      class="mt-4 mb-2"
    >
      <button
        mat-raised-button
        type="button"
        [style.width.px]="150"
        (click)="closeDialog()"
      >
        Cancel
      </button>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [style.width.px]="150"
      >
        <span>{{ action }} Pole</span>
      </button>
    </div>
  </form>
</mat-dialog-content>
