<div class="overlay" *ngIf="actionLoading">
    <div class="Center">
        <mat-spinner diameter="50" style="margin:0 auto;"></mat-spinner>
    </div>
</div>
<div fxLayoutGap="10px" fxLayout="column" [ngStyle]="{'width' : '100%', 'margin-top.px' : '60'}" fxLayoutAlign="start center">

    <div [ngStyle]="{'width' : '70%'}" fxLayout="column" fxLayoutGap="10px">

        <div class="d-flex flex-sm-row justify-content-between align-items-center flex-column">

            <mat-form-field>
                <mat-label>Filter Trainings</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Enter the training title" #filterInput>
            </mat-form-field>

            <button mat-raised-button color="primary" matTooltip="Add new Training" class="d-flex flex-row" (click)="openActionDialog('Add',{})">
                <span class="mr-2">Add Training</span>
                <mat-icon>add_circle</mat-icon>
            </button>



        </div>

        <div class="cards-container" *ngFor="let training of filteredTrainings">

            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image" fxLayoutAlign="center center">
                        <mat-icon color="warn">schedule</mat-icon>
                    </div>
                    <mat-card-title>{{training.title | titlecase}}</mat-card-title>
                    <mat-card-subtitle>{{training.subject}}</mat-card-subtitle>
                    <mat-card-subtitle>
                        Teacher :
                        <button mat-raised-button (click)="openPersonDialog(training.teacher)">
                            {{training.teacher.name | titlecase}} {{training.teacher.lastName | titlecase}}
                        </button>
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content fxLayoutGap="20px" fxLayout="column">

                    <app-session [trainingId]="training._id" [sessions]="training.sessions"></app-session>

                    <div fxLayout="column" fxLayoutGap="10px">
                        <span>Students : </span>

                        <div class="d-flex flex-wrap" fxLayoutGap="10px">
                            <div *ngFor="let student of training.students" fxLayoutAlign="center center">
                                <a class="personLink" (click)="openPersonDialog(student)">
                                    {{student.name | titlecase}} {{student.lastName | titlecase}}
                                </a>
                            </div>
                        </div>

                    </div>

                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions fxLayoutAlign="space-evenly">
                    <button mat-icon-button matTooltip="Edit Training" matTooltipPosition="after" matTooltipHideDelay="400" (click)="openActionDialog('Update',training)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Delete Training" matTooltipPosition="after" matTooltipHideDelay="400" (click)="deleteRowData(training)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>

        </div>

    </div>

</div>